{% extends 'base.html' %}

{% block content %}
<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Добро пожаловать...</h1>
      <p class="lead my-3">Этот сайт - тестовая система для подготовки и ответов на вопросы тестирований</p>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Новости
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title mb-1">Патч недели</h2>
        <p class="blog-post-meta">02.12.2022 by <a href="#">Админ</a></p>

        <p>В последнем патче:</p>
        <hr>
        <p>Добавлена распознавание и сортировка пользователей по ip-адресу.</p>
        <h2>От админа</h2>
        <p>В планах:</p>
        <blockquote class="blockquote">
          <p>Запрет голосовать в одном опросе больше одного раза.</p>
        </blockquote>
        <p>Сайту очень важно, что вы о нем думаете. Обратная связь важна.</p>
      </article>

      <article class="blog-post">
        <h2 class="blog-post-title mb-1">Как сайт создавался</h2>
        <p class="blog-post-meta">12.11.2022<a href="#">Админ</a></p>

        <p>Что использовалось при создании</p>
        <ul>
          <li>Python</li>
          <li>Django</li>
          <li>Boostrap</li>
        </ul>
       </article>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Вверх</a>
      </nav>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">Бета-версия</h4>
          <p class="mb-0">Сайт находится на стадии активной разработки, просьба присылать всю информацию об ошибках на эл.почту: ilia2707@mail.ru</p>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
