{% extends 'base.html' %}
{% block content %}
  <div class="container">
  <div class="col-lg-8 mx-auto p-4 py-md-5">
      <div class="row g-5">
      <div class="col-md-6">
      <main class="container">
            <div>
                <form action="{% url 'polls:vote' question.id %}" method="post">
                    {% csrf_token %}
                    <fieldset>

                    <legend><h2>{{ question.question_text }}</h2></legend>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        {% for choice in question.choice_set.all %}
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                        {% endfor %}
                </fieldset>
                <input type="submit" value="Vote">
                </form>
            </div>
      </main>
          <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
    </nav>
  </div>
          <article class="blog-post">
        <h2 class="blog-post-title mb-1">О вопросе и сайте</h2>
        <p class="blog-post-meta">{{ question.pub_date }} Your Best Admin ;)</p>

        <p>Нам очень важно ваше мнение о нашем сайте, пожалуйста, оставьте ваш отзыв на почту </p>
         <article class="blog-post">
        <h2 class="blog-post-title mb-1">Патч недели</h2>
        <p class="blog-post-meta">02.12.2022 by <a href="#">Админ</a></p>

        <p>В последнем патче:</p>
        <hr>
        <p>Добавлена распознавание и сортировка пользователей по ip-адресу.</p>
        <h2>От админа</h2>
        <p>В планах:</p>
        <blockquote class="blockquote">
          <p>Запрет голосовать в одном опросе больше одного раза.</p>
        </blockquote>
        <p>Сайту очень важно, что вы о нем думаете. Обратная связь важна.</p>
      </article></article>
        </div>
      </div>
  </div>
  </div>
{% endblock %}